.publickeyform {
  form {
    display: flex;

    .publickeyform__input {
      flex-grow: 1;
      border-radius: 10px 0 0 10px;
    }

    .publickeyform__retrieve {
      border-radius: 0 10px 10px 0;
    }
  }
}
