.publickey {
  background-color: $color-complement-1;
  margin: 5px 0;
  padding: 15px;
  font-size: larger;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

  &__comment {
    width: 25%;
  }

  &__comment::after {
    content: ": ";
  }

  &__fingerprint {
    flex-grow: 1;
  }

  &__delete {
    cursor: pointer;
  }
}
